<p> Private team contents will go here: </p>
<ul>
	<li>Practice videos</li>
	<li>Practice schedule</li>
	<li>Detail of our finances</li>
	<li>Shirt design voting</li>
	<li>Status updates on competitions, etc</li>
</ul>