<ul id="sub-nav">
    <button onclick="$('#show').html($('#11-12').html());">2011-2012</button>
    <button onclick="$('#show').html($('#10-11').html());">2010-2011</button>
    <button onclick="$('#show').html($('#09-10').html());">2009-2010</button>
    <button onclick="$('#show').html($('#08-09').html());">2008-2009</button>
    <button onclick="$('#show').html($('#07-08').html());">2007-2008</button>
</ul>

<div id="show">
	<h1>2011-2012</h1>

	<div class="left">
	<h2>Awards</h2>
	<p>1st place - Raas Rodeo</p>
	<p>3rd place - Garba with Attitude</p>
	<p>Invitation to Raas All-Stars</p>
	</div>

	<div class="right">
	<h2>Media</h2>
	<p>Promo Video</p>
	<iframe width="560" height="315" src="http://www.youtube.com/embed/k4u0xnENTGI" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<script type = "text/template" id="11-12">
	<h1>2011-2012</h1>

	<div class="left">
	<h2>Awards</h2>
	<p>1st place - Raas Rodeo</p>
	<p>3rd place - Garba with Attitude</p>
	<p>Invitation to Raas All-Stars</p>
	</div>

	<div class="right">
	<h2>Media</h2>
	<p>Promo Video</p>
	<iframe width="560" height="315" src="http://www.youtube.com/embed/k4u0xnENTGI" frameborder="0" allowfullscreen></iframe>
	</div>
</script>

<script type = "text/template" id="10-11">
	<h1>2010-2011</h1>

	<div class="left">
	<h2>Awards</h2>
	<p>3rd place - Garba with Attitude</p>
	</div>

	<div class="right">
	<h2>Media</h2>
	<p>Intro Video</p>
	<iframe width="560" height="315" src="http://www.youtube.com/embed/Awau5OvSUD4" frameborder="0" allowfullscreen></iframe>
	</div>
</script>

<script type = "text/template" id="09-10">
	<h1>2009-2010</h1>

	<div class="left">
	<h2>Awards</h2>
	<p>1st place - Garbafest</p>
	<p>3rd place - Garba with Attitude</p>
	<p>Invitation to Raas All-Stars</p>
	</div>

	<div class="right">
	<h2>Media</h2>
	<p>Intro Video</p>
	<iframe width="560" height="315" src="http://www.youtube.com/embed/knsVovotYhQ" frameborder="0" allowfullscreen></iframe>
	</div>
</script>

<script type = "text/template" id="08-09">
	<h1>2008-2009</h1>

	<div class="left">
	<h2>Awards</h2>
	<p>3rd place - Rangeelo Raas</p>
	</div>

	<div class="right">
	<h2>Media</h2>
	<p>Intro Video</p>
	<iframe width="420" height="315" src="http://www.youtube.com/embed/HNwv2X-YCIo" frameborder="0" allowfullscreen></iframe>
	</div>
</script>

<script type = "text/template" id="07-08">
	<h1>2007-2008</h1>

	<div class="left">
	<h2>Awards</h2>
	<p>1st place - Garba with Attitude</p>
	<p>2nd place - Rangeelo Raas</p>
	<p>Invitation to Best of the Best 4</p>
	</div>

	<div class="right">
	<h2>Media</h2>
	<p>Intro Video</p>
	<iframe width="420" height="315" src="http://www.youtube.com/embed/m-xnkZSIcCw" frameborder="0" allowfullscreen></iframe>
	</div>
</script>